<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="OpenTK" version="3.3.3" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="3.3.3" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="System.Collections" version="4.3.0" targetFramework="net45" />
</packages>